.list-html{
    padding: 8px;
    background-color: rgb(210, 210, 210);
    border-radius: 4px;
    width: 100%;
    height: max-content;

    h2{
        font-size: 1.4rem;
        font-weight: 700;

        padding-left: 8px;
        padding-bottom: 0;
        border-left: 3px solid #fff;
        border-bottom: none;
    }

    ul{
        padding-left: 24px;
    }
    h3{
        font-size: 1.2rem;
        font-weight: 500;
    }
}